/* The asterisk (*) targets every elelment on the page*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #4a4a4a;
    background-color: #ffffff;
    line-height: 1.6;
}

:root {
    --primary-red: #f05a4f;
    --dark-blue: #152238;
    --light-bg: #e8ebf0;
    --text-gray: #6b7280;
}

h1, h2 {
    font-family: Playfair Display, serif;
    color: var(--dark-blue);
}

.btn-primary {
    background-color: var(--primary-red);
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.btn-primary:hover {
    background-color: #d94b41;
}

.btn-secondary {
    background-color: transparent;
    color: #333333;
    padding: 12px 24px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    display: inline-block; 
}

.btn-secondary:hover {
    border-color: var(--primary-red);
    color: var(--primary-red);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 30px;
}

.logo img {
   /*height: 30px;*/
}

nav {
    margin-left: 300px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 0.85rem;
    transition:  color 0.3s ease;
}

.nav-links a:hover {
    color: var(--primary-red)
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light-bg);
    padding: 60px 10% 0 15%;
    position: relative;
    overflow: hidden;
}

.hero-content {
    max-width: 45%;
    position: relative;
    padding-top: 20px;
    padding-bottom: 60px;
}

.decoration-circle {
    position: absolute;
    top: -20px;
    left: -45%;
    width: 40px;
    height: 40px;
    border: 1px solid #f8a5a0;
    border-radius: 50%;
}

.subheading {
    display: block;
    color: var(--primary-red);
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 15PX;
}


.hero-content h1 {
    font-size: 1.8rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-content p {
    color: var(--text-gray);
    margin-bottom: 30px;
    font-size: 12px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.hero-image {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
}

.bottom-section {
    display: flex;
    justify-content: space-around;
    padding: 80px 10% 10px 10%;
}

.text-block h2 {
    font-size: 1.2rem;
    line-height: 1.4;
}

/*
RESPONSIVE DESIGN (Mobile Phones)
*/

@media (max-width: 768px) {

    .navbar {
    /* flex-direction: column; */
    /* gap: 20px; */
    padding: 0px 10px;
    height: 60px;
    }

    .logo img {
    height: 35px;
    }

    nav {
    margin-left: 0;
    }

    .hero {
    flex-direction: column;
    padding-top: 40px;
    text-align: center;
    }

    .hero-content {
    max-width: 100%;
    }

    .hero-buttons {
    justify-content: center;
    }

    .decoration-circle {
    display: none;
    }

    .bottom-section {
    flex-direction: column;
    gap: 40px;
    text-align: center;
    }

}


















